.wrapper {
  grid-area: me;
  background-color: aquamarine;
  padding: 20px;
}

.menuWrapper {
  padding-bottom: 70px;
}

.item {
  color: white;
  text-decoration: none;
}

.item.active {
  color: darkred;
}
