.app-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-areas:
    'he he'
    'me co';
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.header {
  grid-area: he;
  background-color: aqua;
}

.header img {
  width: 40px;
}

.menu {
  grid-area: me;
  background-color: aquamarine;
}

.content {
  grid-area: co;
  background-color: lightgoldenrodyellow;
}